@import "./foodcooking";
@import "./foods";
@import "./foodstuffs";
@import "./fourpicture";
@import "./header";
@import "./history";
@import "./introduction";
@import "./iranifood";
@import "./mixin";
@import "./nuts";
@import "./pistachio";
@import "./recipe";
@import "./responcibility";
@import "./rice";
@import "./slider";
@import "./social";
@import "./socialmedia";
@import "./teacup";
@import "./videos";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

