@import "./xxl/xxl.css" screen and (min-width: 1400px);
@import "./xl/xl.css" screen and (min-width: 1200px) and (max-width: 1400px);
@import "./lg/lg.css" screen and (min-width: 998px) and (max-width: 1200px);
@import "./md/md.css" screen and (min-width: 680px) and (max-width: 998px);
@import "./sm/sm.css" screen and (max-width: 680px);

@font-face {
  font-family: yekan;
  src: url(../../../fonts/IRANSansWeb-Light.eot);
  src: url(../../../fonts/IRANSansWeb-Light.ttf);
  src: url(../../../fonts/IRANSansWeb-Light.woff2);
  src: url(../../../fonts/IRANSansWeb-Light_1.woff2);
}
div.foodcooking {
  width: 100%;
  height: 250px;
  background-image: url(/images/foodcooking/foodcooking.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: blueviolet; }

div.foods {
  width: 100%;
  height: 720px;
  background-color: #cde4b0;
  display: flex;
  justify-content: center; }

div.foods > div.firstfood,
div.secondfood,
div.thirdfood {
  width: 320px;
  height: 564px;
  margin-left: 10px;
  margin-top: 80px;
  background-color: white;
  display: flex;
  flex-direction: column; }

div.foods > div.firstfood > h3,
div.secondfood > h3,
div.thirdfood > h3 {
  color: #ff0000;
  margin-top: 35px;
  margin-right: 30px;
  font-family: yekan; }

div.foods > div.firstfood > p,
div.secondfood > p,
div.thirdfood > p {
  color: rgba(129, 133, 136, 0.7);
  margin-top: 18px;
  margin-right: 30px;
  font-family: yekan;
  font-size: 16px; }

div.foods > div.firstfood > div.readmore,
div.secondfood > div.readmore,
div.thirdfood > div.readmore {
  width: 110px;
  height: 40px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  margin-top: 30px;
  margin-right: 30px;
  text-align: center;
  line-height: 40px; }

div.foods > div.firstfood > div.readmore > a,
div.secondfood > div.readmore > a,
div.thirdfood > div.readmore > a {
  text-decoration: none;
  color: #94979a;
  font-family: yekan; }

div.foods > div.firstfood > div.readmore:hover,
div.secondfood > div.readmore:hover,
div.thirdfood > div.readmore:hover {
  background-color: #ff0000; }

div.foods > div.firstfood > div.readmore:hover > a,
div.secondfood > div.readmore:hover > a,
div.thirdfood > div.readmore:hover > a {
  color: white; }

div.foods {
  width: 100%;
  height: 720px;
  background-color: #cde4b0;
  display: flex;
  justify-content: center; }

div.foods > div.firstfood,
div.secondfood,
div.thirdfood {
  width: 320px;
  height: 564px;
  margin-left: 10px;
  margin-top: 80px;
  background-color: white;
  display: flex;
  flex-direction: column; }

div.foods > div.firstfood > h3,
div.secondfood > h3,
div.thirdfood > h3 {
  color: #ff0000;
  margin-top: 35px;
  margin-right: 30px;
  font-family: yekan; }

div.foods > div.firstfood > p,
div.secondfood > p,
div.thirdfood > p {
  color: rgba(129, 133, 136, 0.7);
  margin-top: 18px;
  margin-right: 30px;
  font-family: yekan;
  font-size: 16px; }

div.foods > div.firstfood > div.readmore,
div.secondfood > div.readmore,
div.thirdfood > div.readmore {
  width: 110px;
  height: 40px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  margin-top: 30px;
  margin-right: 30px;
  text-align: center;
  line-height: 40px; }

div.foods > div.firstfood > div.readmore > a,
div.secondfood > div.readmore > a,
div.thirdfood > div.readmore > a {
  text-decoration: none;
  color: #94979a;
  font-family: yekan; }

div.foods > div.firstfood > div.readmore:hover,
div.secondfood > div.readmore:hover,
div.thirdfood > div.readmore:hover {
  background-color: #ff0000; }

div.foods > div.firstfood > div.readmore:hover > a,
div.secondfood > div.readmore:hover > a,
div.thirdfood > div.readmore:hover > a {
  color: white; }

div.parent {
  width: 100%;
  height: 500px;
  background-color: #282828; }

div.foodstuffs {
  width: 100%;
  height: 400px;
  background-color: #282828;
  display: flex;
  justify-content: center; }

div.foodstuffs > div.first,
div.second,
div.third,
div.fourth {
  width: 142px;
  height: 275px;
  margin-top: 47px;
  margin-left: 30px;
  text-align: center;
  display: flex;
  flex-direction: column; }

div.foodstuffs > div.first > div,
div.second > div,
div.third > div,
div.fourth > div {
  width: inherit;
  height: 40px;
  text-align: center;
  color: whitesmoke;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 8px; }

div.foodstuffs > div.first > div > p,
div.second > div > p,
div.third > div > p,
div.fourth > div > p {
  font-family: yekan;
  font-size: 16px;
  line-height: 40px; }

div.foodstuffs > div.first > nav,
div.second > nav,
div.third > nav,
div.fourth > nav {
  width: inherit; }

div.foodstuffs > div.first > nav > ul,
div.second > nav > ul,
div.third > nav > ul,
div.fourth > nav > ul {
  width: inherit;
  margin-top: 25px; }

div.foodstuffs > div.first > nav > ul > li,
div.second > nav > ul > li,
div.third > nav > ul > li,
div.fourth > nav > ul > li {
  width: inherit;
  text-align: right;
  list-style: none; }

div.foodstuffs > div.first > nav > ul > li > a,
div.second > nav > ul > li > a,
div.third > nav > ul > li > a,
div.fourth > nav > ul > li > a {
  width: inherit;
  color: #ffffff80;
  font-family: yekan;
  font-size: 14px;
  text-decoration: none;
  transition: 300ms; }

div.foodstuffs > div.first > nav > ul > li:hover > a {
  color: whitesmoke; }

div.foodstuffs > div.second > nav > ul > li:hover > a {
  color: whitesmoke; }

div.foodstuffs > div.third > nav > ul > li:hover > a {
  color: whitesmoke; }

div.foodstuffs > div.fourth > nav > ul > li:hover > a {
  color: whitesmoke; }

div.parent2 {
  width: 100%;
  height: 100px;
  text-align: center; }

div.parent2 > p {
  color: #ccc3c380; }

div.fourpicture {
  width: 805px;
  height: 240px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto; }

div.fourpicture > div.img1,
div.img2,
div.img3,
div.img4 {
  text-align: center;
  border-bottom: 1px solid lightgray;
  font-family: yekan;
  color: #585858;
  font-size: 17px; }

div.menu {
  width: 100%;
  height: 100px;
  background-color: #2b2b2b; }

div.menu > div.menu1 {
  width: 800px;
  height: 80px;
  margin-right: 350px; }

div.menu > div.menu1 > nav {
  width: inherit;
  height: inherit; }

div.menu > div.menu1 > nav > ul {
  width: inherit;
  height: inherit;
  list-style: none;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  column-gap: 10px; }

div.menu > div.menu1 > nav > ul > li {
  width: auto;
  height: inherit;
  vertical-align: top;
  position: relative; }

div.menu > div.menu1 > nav > ul > li > a {
  display: block;
  width: auto;
  line-height: 100px;
  padding: 0 12px;
  font-size: 17px;
  color: #afb2b4;
  text-decoration: none;
  font-family: yekan;
  margin-top: 10px; }

div.menu > div.menu1 > nav > ul > li > a > i {
  color: #afb2b4; }

div.menu > div.menu1 > nav > ul > li > a:hover {
  color: whitesmoke; }

div.menu > div.menu1 > nav > ul > li > ul {
  width: 200px;
  list-style: none;
  margin-top: -25px;
  background-color: #2b2b2b;
  position: absolute;
  right: 0;
  display: none; }

div.menu > div.menu1 > nav > ul > li > ul > li {
  width: inherit;
  height: 40px; }

div.menu > div.menu1 > nav > ul > li > ul > li > a {
  display: block;
  width: auto;
  height: inherit;
  line-height: 40px;
  text-decoration: none;
  padding: 0 10px;
  color: #afb2b4;
  font-family: yekan;
  transition: 300ms; }

div.menu > div.menu1 > nav > ul > li:hover > ul {
  display: block; }

div.menu > div.menu1 > nav > ul > li > ul > li > a:hover {
  color: whitesmoke; }

div.imgheader {
  position: absolute;
  top: 42px;
  right: 135px; }

header > div.submenu {
  display: none; }

i.hamburger {
  display: none; }

#show {
  display: none; }

div.history {
  width: 100%;
  height: 507px; }

div.history > hr {
  margin-top: -27px; }

div.history > div.texthistory {
  width: 710px;
  height: 365px;
  margin: 50px auto; }

div.history > div.texthistory > h3 {
  color: #ff0000;
  font-family: yekan; }

div.history > div.texthistory > p {
  font-family: yekan;
  margin-top: 15px;
  font-size: 17px;
  color: rgba(129, 133, 136, 0.7);
  line-height: 35px; }

div.history > div.texthistory > div.teaproduct {
  width: 130px;
  height: 45px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  margin-top: 30px;
  text-align: center;
  line-height: 45px; }

div.history > div.texthistory > div.teaproduct > p {
  color: rgba(129, 133, 136, 0.7);
  font-family: yekan; }

div.history > div.texthistory > div.teaproduct:hover {
  background-color: #ff0000; }

div.history > div.texthistory > div.teaproduct:hover > p {
  color: white; }

div.introduct {
  width: 100%;
  height: 800px; }

div.introduct > hr {
  margin-top: 15px; }

div.introduct > div.introduction {
  width: 710px;
  height: 800px;
  margin: 13px auto;
  display: flex;
  flex-direction: column; }

div.introduct > div.introduction > div.header1 > h2 {
  color: #ff0000;
  margin-top: 60px; }

div.introduct > div.introduction > div.text1 {
  margin-top: 28px; }

div.introduct > div.introduction > div.text1 > p {
  width: 700px;
  color: rgba(129, 133, 136, 0.7);
  font-family: yekan;
  font-size: 16px;
  line-height: 35px;
  text-align: justify; }

div.introduct > div.introduction > div.header2 > h2 {
  color: #ff0000;
  margin-top: 70px;
  font-family: yekan; }

div.introduct > div.introduction > div.text2 {
  margin-top: 28px; }

div.introduct > div.introduction > div.text2 > p {
  color: rgba(129, 133, 136, 0.7);
  font-family: yekan;
  font-size: 16px;
  line-height: 35px; }

div.iranifood {
  width: 100%;
  height: 402px; }

div.iranifood > div.rokn {
  width: 705px;
  height: 265px;
  margin: 50px auto; }

div.iranifood > div.rokn > h3 {
  color: #ff0000;
  font-family: yekan;
  font-size: 18px; }

div.iranifood > div.rokn > p {
  margin-top: 15px;
  font-size: 15px;
  font-family: yekan;
  color: rgba(129, 133, 136, 0.9);
  line-height: 35px;
  text-align: justify; }

div.iranifood > div.rokn > div.product,
div.kitchen {
  width: 130px;
  height: 45px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  text-align: center;
  line-height: 45px;
  display: inline-block;
  margin-top: 35px; }

div.iranifood > div.rokn > div.product > p {
  color: rgba(129, 133, 136, 0.9);
  font-size: 15px;
  font-family: yekan; }

div.iranifood > div.rokn > div.kitchen > p {
  color: rgba(129, 133, 136, 0.9);
  font-size: 15px;
  font-family: yekan; }

div.iranifood > div.rokn > div.product:hover {
  background-color: #ff0000; }

div.iranifood > div.rokn > div.product:hover > p {
  color: white; }

div.iranifood > div.rokn > div.kitchen:hover {
  background-color: #ff0000; }

div.iranifood > div.rokn > div.kitchen:hover > p {
  color: white; }

div.nuts {
  width: 100%;
  height: 410px; }

div.nuts > hr {
  margin-top: -27px; }

div.nuts > div.textnuts {
  width: 700px;
  height: 295px;
  margin: 45px auto; }

div.nuts > div.textnuts > h3 {
  font-family: yekan;
  color: #ff0000; }

div.nuts > div.textnuts > p {
  font-family: yekan;
  margin-top: 15px;
  font-size: 16px;
  color: rgba(129, 133, 136, 0.7);
  line-height: 35px; }

div.nuts > div.textnuts > div.nutsbottom {
  width: 120px;
  height: 47px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  margin-top: 30px;
  text-align: center;
  line-height: 47px; }

div.nuts > div.textnuts > div.nutsbottom > p {
  color: rgba(129, 133, 136, 0.7);
  font-family: yekan; }

div.nuts > div.textnuts > div.nutsbottom:hover {
  background-color: #ff0000; }

div.nuts > div.textnuts > div.nutsbottom:hover > p {
  color: white; }

div.pistachio {
  width: 100%;
  height: 574px;
  position: relative; }

div.pistachio > div.imgpistachio {
  width: 100%;
  height: 520px;
  background-color: #e9d69f; }

div.pistachio > div.imgpistachio > img {
  height: 500px; }

div.pistachio > div.pistachiogol {
  position: absolute;
  top: 448px;
  right: 265px;
  width: 300px;
  height: 100px;
  background-color: #ff0000;
  padding: 10px; }

div.pistachio > div.pistachiogol > h1 {
  color: white;
  font-family: yekan; }

div.pistachio > div.pistachiogol > p {
  color: white;
  font-family: yekan;
  font-size: 20px;
  padding-top: 5px; }

body div.recipe {
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  display: block; }

body div.recipe > div.reza {
  width: auto;
  text-align: center; }

body div.recipe > div.reza > span.ali {
  font-family: yekan;
  color: #ff0000; }

body div.recipe > div.reza > span {
  font-family: yekan;
  color: rgba(129, 133, 136, 0.7);
  font-size: 17px; }

div.respons {
  width: 100%;
  height: 482px;
  display: flex;
  flex-direction: column; }

div.respons > hr {
  margin-top: 25px; }

div.respons > div.child {
  width: 705px;
  height: 267px;
  margin: 130px auto; }

div.respons > div.child > h3 {
  color: #ff0000;
  font-family: yekan; }

div.respons > div.child > p {
  margin-top: 15px;
  color: rgba(129, 133, 136, 0.7);
  font-family: yekan;
  font-size: 16px;
  line-height: 35px; }

div.respons > div.child > div {
  width: 125px;
  height: 46px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  margin-top: 30px;
  text-align: center;
  line-height: 46px; }

div.respons > div.child > div > a {
  text-decoration: none;
  color: rgba(129, 133, 136, 0.7);
  font-family: yekan;
  font-size: 14px; }

div.respons > div.child > div:hover {
  background-color: #ff0000; }

div.respons > div.child > div:hover > a {
  color: white; }

div.rice {
  width: 100%;
  height: 574px;
  position: relative; }

div.rice > hr {
  margin-top: 155px; }

div.rice > div.imgrice {
  width: 100%;
  height: 520px;
  margin-top: 27px;
  background-color: #e9d69f; }

div.rice > div.imgrice > img {
  height: 500px; }

div.rice > div.ricegol {
  position: absolute;
  top: 448px;
  right: 265px;
  width: 300px;
  height: 100px;
  background-color: #ff0000;
  padding: 10px; }

div.rice > div.ricegol > h1 {
  color: white;
  font-family: yekan; }

div.rice > div.ricegol > p {
  color: white;
  font-family: yekan;
  font-size: 20px;
  padding-top: 7px; }

body div.teagolestan {
  width: 100%;
  height: 500px;
  background-color: #DBDBDB;
  display: flex; }

div.teagolestan > div:nth-of-type(1) {
  width: 50%;
  height: 500px; }

div.teagolestan > div:nth-of-type(1) > div.p1 {
  width: 400px;
  height: 49px;
  margin-top: 105px;
  margin-right: 180px;
  color: #ff0000;
  font-family: yekan;
  font-size: 30px; }

div.teagolestan > div:nth-of-type(1) > div.p2 {
  width: 400px;
  height: 33px;
  margin-right: 180px;
  color: #58595b;
  font-family: yekan;
  font-size: 20px; }

body div.teagolestan > div:nth-of-type(1) > div.p3 {
  width: 400px;
  height: 81px;
  margin-top: 35px;
  margin-right: 180px;
  color: #898989;
  font-family: yekan;
  font-size: 16px;
  text-align: justify; }

div.teagolestan > div:nth-of-type(1) > div.moreinfo {
  width: 125.95px;
  height: 47px;
  border: 1px solid lightgray;
  border-radius: 10px;
  text-align: center;
  line-height: 47px;
  margin-top: 30px;
  margin-right: 180px;
  font-family: yekan;
  background-color: white; }

div.teagolestan > div:nth-of-type(1) > div.moreinfo > a {
  text-decoration: none;
  color: #94979a; }

div.teagolestan > div:nth-of-type(1) > div.moreinfo:hover {
  background-color: #ff0000; }

div.teagolestan > div:nth-of-type(1) > div.moreinfo:hover > a {
  color: white; }

div.teagolestan > div:nth-of-type(2) {
  margin-right: 200px;
  margin-top: 50px; }

div.social {
  width: 100%;
  height: 620px;
  background-color: #e9d69f;
  display: flex;
  flex-direction: column; }

div.social > div.child1 {
  width: inherit;
  height: 291px;
  background-color: #105153;
  text-align: center;
  border-bottom: 1px solid #009da2; }

div.social > div.child1 > p {
  padding-top: 250px;
  color: #d5ece1;
  font-size: 20px; }

div.social > div.child2 {
  width: inherit;
  height: 55px;
  background-color: #105153;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 10px;
  justify-content: center; }

div.social > div.child2 > p:nth-of-type(1) {
  color: #009da2;
  font-size: 45px; }

div.social > div.child2 > p:nth-of-type(2) {
  color: #00d8df;
  padding-top: 18px;
  font-size: 22px;
  margin-left: 5px; }

div.social > div.child3 {
  height: 254px;
  background-color: #105153;
  display: flex;
  justify-content: center;
  position: relative; }

div.social > div.child3 > p {
  margin-top: 13px;
  color: #bcbec0;
  font-size: 17px; }

div.social > div.child3 > img {
  width: 395px;
  height: 344px;
  position: absolute;
  top: 45px; }

div.socialmedia {
  width: 100%;
  height: 125px;
  background-color: #ed1d23; }

div.socialmedia > div.child {
  width: 100%;
  height: 100px;
  background-color: #eeefef;
  display: flex;
  justify-content: center; }

div.socialmedia > div.child > div.facebook,
div.linkedin,
div.instagram,
div.telegram,
div.aparat,
div.gl {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #79747480;
  margin-top: 25px;
  margin-left: 5px;
  text-align: center; }

div.socialmedia > div.child > div.facebook > a > i,
div.linkedin > a > i,
div.instagram > a > i,
div.telegram > a > i {
  line-height: 50px;
  color: whitesmoke;
  font-size: 30px; }

div.socialmedia > div.child > div.gl > a {
  text-decoration: none;
  line-height: 50px;
  color: whitesmoke;
  font-size: 30px; }

div.socialmedia > div.child > div.facebook:hover {
  background-color: #6E8BC5; }

div.socialmedia > div.child > div.linkedin:hover {
  background-color: #399fd2; }

div.socialmedia > div.child > div.instagram:hover {
  background-color: #bf2f2f; }

div.socialmedia > div.child > div.telegram:hover {
  background-color: #2fa6db; }

div.socialmedia > div.child > div.gl:hover {
  background-color: #8ac866; }

div.teacup {
  width: 100%;
  height: 574px;
  position: relative; }

div.teacup > div.imgcup {
  width: 100%;
  height: 520px;
  background-color: #e9d69f; }

div.teacup > div.imgcup > img {
  height: 500px; }

div.teacup > div.teagol2 {
  position: absolute;
  top: 448px;
  right: 265px;
  width: 300px;
  height: 100px;
  background-color: #ff0000;
  padding: 10px; }

div.teacup > div.teagol2 > h1 {
  color: white;
  font-family: yekan; }

div.teacup > div.teagol2 > p {
  color: white;
  font-family: yekan;
  font-size: 20px;
  padding-top: 5px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

div.videos {
  width: 100%;
  height: 607.39px;
  background-color: #f7f9fb;
  display: flex;
  justify-content: center; }

div.videos > div.firstvideo,
div.secondvideo,
div.thirdvideo {
  width: 320px;
  height: 443px;
  margin-left: 10px;
  margin-top: 82px;
  background-color: white;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; }

div.videos > div.firstvideo > video,
div.secondvideo > video,
div.thirdvideo > video {
  width: inherit;
  height: 182.39px;
  object-fit: contain;
  background-color: black; }

div.videos > div.firstvideo > h3,
div.secondvideo > h3,
div.thirdvideo > h3 {
  color: #ff0000;
  margin-top: 35px;
  margin-right: 30px;
  font-family: yekan; }

div.videos > div.firstvideo > div,
div.secondvideo > div,
div.thirdvideo > div {
  width: 260px;
  margin-top: 20px;
  margin-right: 30px; }

div.videos > div.firstvideo > div > p,
div.secondvideo > div > p,
div.thirdvideo > div > p {
  color: rgba(129, 133, 136, 0.7);
  font-family: yekan;
  font-size: 14px; }

div.videos > div.firstvideo > div.morevideos, div.videos > div.secondvideo > div.hotynodel, div.videos > div.thirdvideo > div.ricegolestan {
  height: 40px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  margin-top: 30px;
  margin-right: 30px;
  text-align: center;
  line-height: 40px; }

div.videos > div.firstvideo > div.morevideos {
  width: 135px; }

div.videos > div.secondvideo > div.hotynodel {
  width: 112px; }

div.videos > div.thirdvideo > div.ricegolestan {
  width: 150px; }

div.videos > div.firstvideo > div.morevideos > a,
div.secondvideo > div.hotynodel > a,
div.thirdvideo > div.ricegolestan > a {
  text-decoration: none;
  font-family: yekan;
  font-size: 14px;
  color: rgba(129, 133, 136, 0.7); }

div.videos > div.firstvideo > div.morevideos:hover,
div.secondvideo > div.hotynodel:hover,
div.thirdvideo > div.ricegolestan:hover {
  background-color: #ff0000; }

div.videos > div.firstvideo > div.morevideos:hover > a,
div.secondvideo > div.hotynodel:hover > a,
div.thirdvideo > div.ricegolestan:hover > a {
  color: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
