div.null2 {
  width: 100%;
  height: 150px;
}
body div.introduct {
  width: 100%;
  height: 650px;
}
body div.introduct > hr {
  margin-top: 5px;
  display: none;
}
body div.introduct > div.introduction {
  width: inherit;
  height: inherit;
  margin: 13px auto;
  display: flex;
  flex-direction: column;
}
body div.introduct > div.introduction > div.header1 > h2 {
  color: #ff0000;
  margin-top: 60px;
  padding: 0 15px;
  font-family: yekan;
  font-size: 18px;
}
body div.introduct > div.introduction > div.text1 {
  margin-top: 28px;
}
body div.introduct > div.introduction > div.text1 > p {
  width: inherit;
  color: rgba(129, 133, 136, 0.9);
  font-family: yekan;
  font-size: 15px;
  line-height: 35px;
  padding: 0 15px;
  text-align: justify;
}
body div.introduct > div.introduction > div.header2 > h2 {
  color: #ff0000;
  margin-top: 50px;
  padding: 0 15px;
  font-family: yekan;
  font-size: 18px;
}
body div.introduct > div.introduction > div.text2 {
  margin-top: 25px;
}
body div.introduct > div.introduction > div.text2 > p {
  color: rgba(129, 133, 136, 0.9);
  font-family: yekan;
  font-size: 15px;
  line-height: 35px;
  padding: 0 15px;
  text-align: justify;
}
