div.teacup {
    width: 100%;
    height: 574px;
    position: relative;
  }
  div.teacup > div.imgcup {
    width: 100%;
    height: 520px;
    background-color: #e9d69f;
  }
  div.teacup > div.imgcup > img {
    height: 500px;
  }
  div.teacup > div.teagol2 {
    @include maker();
  }
  div.teacup > div.teagol2 > h1 {
    color: white;
    font-family: yekan;
  }
  div.teacup > div.teagol2 > p {
    color: white;
    font-family: yekan;
    font-size: 20px;
    padding-top: 5px;
  }