body div.pistachio {
  width: 100%;
  height: 500px;
  position: relative;
}
body div.pistachio > div.imgpistachio {
  width: 100%;
  height: 450px;
  background-color: #e9d69f;
}
body div.pistachio > div.imgpistachio > img {
  width: 100%;
  height: 430px;
}
body div.pistachio > div.pistachiogol {
  @include maker();
  top: 374px;
}
div.pistachio > div.pistachiogol > h1 {
  color: white;
  font-family: yekan;
}
div.pistachio > div.pistachiogol > p {
  color: white;
  font-family: yekan;
  font-size: 20px;
  padding-top: 5px;
}
