div.null{
  width: 100%;
  height: 100px;
}
body div.teagolestan {
  width: 100%;
  height: 485px;
  background-color: #faf2f2;
  display: flex;
}
html body div.teagolestan > div:nth-of-type(1) {
  width: 50%;
  height: inherit;
}
body div.teagolestan > div:nth-of-type(1) > div.p1 {
  width: 400px;
  height: 49px;
  margin-top: 100px;
  margin-right: 80px;
  color: #ff0000;
  font-family: yekan;
  font-size: 30px;
}
body div.teagolestan > div:nth-of-type(1) > div.p2 {
  width: 400px;
  height: 33px;
  margin-right: 80px;
  color: #58595b;
  font-family: yekan;
  font-size: 20px;
}
html body div.teagolestan > div:nth-of-type(1) > div.p3 {
  width: 420px;
  height: 81px;
  margin-top: 20px;
  margin-right: 80px;
  color: #898989;
  font-family: yekan;
  font-size: 17px;
  line-height: 25px;
}
body div.teagolestan > div:nth-of-type(1) > div.moreinfo {
  width: 125.95px;
  height: 47px;
  border: 1px solid lightgray;
  border-radius: 10px;
  text-align: center;
  line-height: 47px;
  margin-top: 50px;
  margin-right: 80px;
  font-family: yekan;
  background-color: rgb(255, 255, 255);
}

body div.teagolestan > div:nth-of-type(1) > div.moreinfo > a {
  text-decoration: none;
  color: #94979a;
}
body div.teagolestan > div:nth-of-type(1) > div.moreinfo:hover {
  background-color: #ff0000;
}
body div.teagolestan > div:nth-of-type(1) > div.moreinfo:hover > a {
  color: white;
}
body div.teagolestan > div:nth-of-type(2) {
  width: 50%;
  height: inherit;
  margin-right: 60px;
  text-align: center;
  margin-top: 50px;
}

