header > div.menu {
  width: 100%;
  height: 125px;
  background-color: #2b2b2b;
  position: fixed;
  z-index: 2;
  text-align: center;
  box-sizing: border-box;
  object-fit: cover; }

header > div.menu > div.menu1 {
  display: none; }

header > div.menu > div.imgheader {
  width: 100%;
  position: absolute;
  top: 10px;
  right: 0px; }

header > label > i.hamburger {
  position: fixed;
  z-index: 2;
  top: 125px;
  display: inline-block;
  width: 100%;
  height: 55px;
  background-color: #2b2b2b;
  cursor: pointer;
  font-size: 25px;
  color: #afb2b4;
  padding-right: 20px;
  padding-top: 10px; }

i.hamburger:hover {
  color: white; }

body header > div.submenu {
  width: 100%;
  height: 348px;
  background-color: #2b2b2b;
  position: fixed;
  top: 170px;
  z-index: 10;
  display: none; }

header > div.submenu > a {
  display: block;
  z-index: 1000;
  padding-right: 20px;
  line-height: 43px;
  font-size: 17px;
  font-family: yekan;
  text-decoration: none;
  color: #afb2b4;
  transition: 300ms; }

div.submenu > a:hover {
  color: white; }

#show {
  display: none; }

#show:checked ~ div.submenu {
  display: block; }

html body div.teagolestan {
  display: none; }

div.null2 {
  width: 100%;
  height: 150px; }

body div.introduct {
  width: 100%;
  height: 650px; }

body div.introduct > hr {
  margin-top: 5px;
  display: none; }

body div.introduct > div.introduction {
  width: inherit;
  height: inherit;
  margin: 13px auto;
  display: flex;
  flex-direction: column; }

body div.introduct > div.introduction > div.header1 > h2 {
  color: #ff0000;
  margin-top: 60px;
  padding: 0 15px;
  font-family: yekan;
  font-size: 18px; }

body div.introduct > div.introduction > div.text1 {
  margin-top: 28px; }

body div.introduct > div.introduction > div.text1 > p {
  width: inherit;
  color: rgba(129, 133, 136, 0.9);
  font-family: yekan;
  font-size: 15px;
  line-height: 35px;
  padding: 0 15px;
  text-align: justify; }

body div.introduct > div.introduction > div.header2 > h2 {
  color: #ff0000;
  margin-top: 50px;
  padding: 0 15px;
  font-family: yekan;
  font-size: 18px; }

body div.introduct > div.introduction > div.text2 {
  margin-top: 25px; }

body div.introduct > div.introduction > div.text2 > p {
  color: rgba(129, 133, 136, 0.9);
  font-family: yekan;
  font-size: 15px;
  line-height: 35px;
  padding: 0 15px;
  text-align: justify; }

body div.fourpicture {
  width: 805px;
  height: 240px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  display: none; }

div.fourpicture > div.img1,
div.img2,
div.img3,
div.img4 {
  text-align: center;
  border-bottom: 1px solid lightgray;
  font-family: yekan;
  color: #585858;
  font-size: 17px; }

html body div.rice {
  width: 100%;
  height: 292px;
  position: relative;
  margin-top: 170px; }

body div.rice > hr {
  margin-top: 155px; }

body div.rice > div.imgrice {
  width: 100%;
  height: 292px;
  margin-top: 12px;
  background-color: #e9d69f; }

div.rice > div.backcolor {
  display: none; }

body div.rice > div.imgrice > img {
  width: inherit;
  height: 212px; }

body div.rice > div.ricegol {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 212px;
  right: 0;
  background-color: #ff0000;
  top: 212px; }

div.rice > div.ricegol > h1 {
  color: white;
  font-family: yekan; }

div.rice > div.ricegol > p {
  color: white;
  font-family: yekan;
  font-size: 20px;
  padding-top: 7px; }

body div.iranifood {
  width: 100%;
  height: 402px;
  margin-top: 10px; }

body div.iranifood > div.rokn {
  width: inherit;
  height: 265px;
  margin: 85px auto;
  padding: 0 15px; }

div.iranifood > div.rokn > h3 {
  color: #ff0000;
  font-family: yekan; }

div.iranifood > div.rokn > p {
  margin-top: 15px;
  font-size: 16px;
  font-family: yekan;
  color: rgba(129, 133, 136, 0.7);
  line-height: 35px; }

div.iranifood > div.rokn > div.product,
div.kitchen {
  width: 130px;
  height: 45px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  text-align: center;
  line-height: 45px;
  display: inline-block;
  margin-top: 35px; }

div.iranifood > div.rokn > div.product > p {
  color: rgba(129, 133, 136, 0.7);
  font-size: 15px;
  font-family: yekan; }

div.iranifood > div.rokn > div.kitchen > p {
  color: rgba(129, 133, 136, 0.7);
  font-size: 15px;
  font-family: yekan; }

div.iranifood > div.rokn > div.product:hover {
  background-color: #ff0000; }

div.iranifood > div.rokn > div.product:hover > p {
  color: white; }

div.iranifood > div.rokn > div.kitchen:hover {
  background-color: #ff0000; }

div.iranifood > div.rokn > div.kitchen:hover > p {
  color: white; }

body div.teacup {
  width: 100%;
  height: 292px;
  position: relative;
  margin-top: 100px; }

body div.teacup > div.imgcup {
  width: 100%;
  height: inherit;
  background-color: #e9d69f; }

body div.teacup > div.imgcup > img {
  width: inherit;
  height: 212px; }

body div.teacup > div.teagol2 {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 212px;
  right: 0;
  background-color: #ff0000; }

div.teacup > div.teagol2 > h1 {
  color: white;
  font-family: yekan; }

div.teacup > div.teagol2 > p {
  color: white;
  font-family: yekan;
  font-size: 20px;
  padding-top: 5px; }

body div.history {
  width: 100%;
  height: 500px;
  margin-top: 75px;
  padding: 0 15px; }

body div.history > hr {
  margin-top: -27px;
  display: none; }

body div.history > div.texthistory {
  width: inherit;
  height: 365px;
  margin: 50px auto; }

div.history > div.texthistory > h3 {
  color: #ff0000;
  font-family: yekan;
  font-size: 18px; }

div.history > div.texthistory > p {
  font-family: yekan;
  margin-top: 15px;
  font-size: 15px;
  color: rgba(129, 133, 136, 0.9);
  line-height: 35px;
  text-align: justify; }

body div.history > div.texthistory > div.teaproduct {
  width: 130px;
  height: 45px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  margin-top: 30px;
  text-align: center;
  line-height: 45px; }

div.history > div.texthistory > div.teaproduct > p {
  color: rgba(129, 133, 136, 0.9);
  font-family: yekan; }

div.history > div.texthistory > div.teaproduct:hover {
  background-color: #ff0000; }

div.history > div.texthistory > div.teaproduct:hover > p {
  color: white; }

body div.pistachio {
  width: 100%;
  height: 292px;
  position: relative;
  margin-top: 60px; }

body div.pistachio > div.imgpistachio {
  width: inherit;
  height: inherit;
  background-color: #e9d69f; }

body div.pistachio > div.imgpistachio > img {
  width: inherit;
  height: 212px; }

body div.pistachio > div.pistachiogol {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 212px;
  right: 0;
  background-color: #ff0000; }

div.pistachio > div.pistachiogol > h1 {
  color: white;
  font-family: yekan; }

div.pistachio > div.pistachiogol > p {
  color: white;
  font-family: yekan;
  font-size: 20px;
  padding-top: 5px; }

body div.nuts {
  width: 100%;
  height: 420px;
  padding: 0 15px;
  margin-top: 93px; }

div.nuts > hr {
  margin-top: -27px;
  display: none; }

body div.nuts > div.textnuts {
  width: inherit;
  height: 295px;
  margin: 45px auto; }

div.nuts > div.textnuts > h3 {
  font-family: yekan;
  color: #ff0000;
  font-size: 18px; }

body div.nuts > div.textnuts > p {
  font-family: yekan;
  margin-top: 15px;
  font-size: 15px;
  color: rgba(129, 133, 136, 0.9);
  line-height: 35px;
  text-align: justify; }

div.nuts > div.textnuts > div.nutsbottom {
  width: 120px;
  height: 47px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  margin-top: 30px;
  text-align: center;
  line-height: 47px; }

div.nuts > div.textnuts > div.nutsbottom > p {
  color: rgba(129, 133, 136, 0.7);
  font-family: yekan; }

div.nuts > div.textnuts > div.nutsbottom:hover {
  background-color: #ff0000; }

div.nuts > div.textnuts > div.nutsbottom:hover > p {
  color: white; }

div.foodcooking {
  width: 100%;
  height: 250px;
  background-image: url(../images/foodcooking/foodcooking.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: blueviolet;
  margin-top: 40px; }

body div.recipe {
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  display: block; }

body div.recipe > div.reza {
  width: auto;
  text-align: right; }

body div.recipe > div.reza > span.ali {
  font-family: yekan;
  color: #ff0000;
  font-size: 15px; }

body div.recipe > div.reza > span.hasan {
  font-family: yekan;
  color: rgba(129, 133, 136, 0.9);
  font-size: 14px; }

body div.foods {
  width: 100%;
  height: 1300px;
  background-color: #cde4b0;
  display: flex;
  flex-direction: column; }

body div.foods > div.firstfood {
  width: 320px;
  height: 592px;
  display: flex;
  flex-direction: column;
  margin: 40px auto; }

body div.foods >
div.secondfood {
  width: 320px;
  height: 592px;
  display: flex;
  flex-direction: column;
  margin: 40px auto; }

body div.foods > div.thirdfood {
  display: none; }

body div.foods > div.firstfood > h3,
div.secondfood > h3 {
  color: #ff0000;
  margin-top: 35px;
  margin-right: 30px;
  font-family: yekan;
  font-size: 20px; }

body div.foods > div.thirdfood > h3 {
  display: none; }

body div.foods > div.firstfood > p {
  color: rgba(129, 133, 136, 0.9);
  font-family: yekan;
  font-size: 14px;
  padding-left: 30px;
  line-height: 25px;
  text-align: justify; }

body div.foods > div.secondfood > p {
  color: rgba(129, 133, 136, 0.9);
  font-family: yekan;
  font-size: 14px;
  padding-left: 30px;
  line-height: 25px;
  text-align: justify; }

body div.foods > div.thirdfood > p {
  display: none; }

body div.foods > div.firstfood > div.readmore,
div.secondfood > div.readmore {
  width: 110px;
  height: 40px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  margin-top: 30px;
  margin-right: 30px;
  text-align: center;
  line-height: 40px; }

body div.foods > div.thirdfood > div.readmore {
  display: none; }

div.foods > div.firstfood > div.readmore > a,
div.secondfood > div.readmore > a,
div.thirdfood > div.readmore > a {
  text-decoration: none;
  color: #94979a;
  font-family: yekan;
  color: rgba(129, 133, 136, 0.9); }

div.foods > div.firstfood > div.readmore:hover,
div.secondfood > div.readmore:hover,
div.thirdfood > div.readmore:hover {
  background-color: #ff0000; }

div.foods > div.firstfood > div.readmore:hover > a,
div.secondfood > div.readmore:hover > a,
div.thirdfood > div.readmore:hover > a {
  color: white; }

body div.videos {
  width: 100%;
  height: 1060px;
  background-color: #f7f9fb;
  display: flex;
  flex-direction: column; }

body div.videos > div.firstvideo {
  width: 320px;
  height: 443px;
  background-color: white;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 40px auto; }

body div.videos >
div.secondvideo {
  width: 320px;
  height: 443px;
  background-color: white;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 40px auto; }

body div.videos > div.thirdvideo {
  display: none; }

div.videos > div.firstvideo > video,
div.secondvideo > video,
div.thirdvideo > video {
  width: inherit;
  height: 182.39px;
  object-fit: contain;
  background-color: black; }

body div.videos > div.firstvideo > h3 {
  color: #ff0000;
  margin-top: 20px;
  margin-right: 30px;
  font-family: yekan; }

body div.videos > div.secondvideo > h3 {
  color: #ff0000;
  margin-top: 20px;
  margin-right: 30px;
  font-family: yekan; }

div.videos > div.firstvideo > div {
  width: 260px;
  margin-right: 30px; }

div.videos > div.secondvideo > div {
  width: 260px;
  margin-right: 30px; }

body div.videos > div.firstvideo > div > p {
  color: rgba(129, 133, 136, 0.9);
  font-family: yekan;
  font-size: 14px;
  padding-left: 15px;
  line-height: 25px;
  text-align: justify; }

body div.videos > div.secondvideo > div > p {
  color: rgba(129, 133, 136, 0.9);
  font-family: yekan;
  font-size: 14px;
  padding-left: 15px;
  line-height: 25px;
  text-align: justify; }

div.videos > div.firstvideo > div.morevideos, div.videos > div.secondvideo > div.hotynodel, div.videos > div.thirdvideo > div.ricegolestan {
  height: 40px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 30px;
  text-align: center;
  line-height: 40px; }

div.videos > div.firstvideo > div.morevideos {
  width: 135px; }

div.videos > div.secondvideo > div.hotynodel {
  width: 112px; }

div.videos > div.thirdvideo > div.ricegolestan {
  width: 150px; }

div.videos > div.firstvideo > div.morevideos > a,
div.secondvideo > div.hotynodel > a,
div.thirdvideo > div.ricegolestan > a {
  text-decoration: none;
  font-family: yekan;
  font-size: 14px;
  color: rgba(129, 133, 136, 0.7); }

div.videos > div.firstvideo > div.morevideos:hover,
div.secondvideo > div.hotynodel:hover,
div.thirdvideo > div.ricegolestan:hover {
  background-color: #ff0000; }

div.videos > div.firstvideo > div.morevideos:hover > a,
div.secondvideo > div.hotynodel:hover > a,
div.thirdvideo > div.ricegolestan:hover > a {
  color: white; }

div.social {
  width: 100%;
  height: 620px;
  background-color: #e9d69f;
  display: flex;
  flex-direction: column; }

div.social > div.child1 {
  width: inherit;
  height: 291px;
  background-color: #105153;
  text-align: center;
  border-bottom: 1px solid #009da2; }

div.social > div.child1 > p {
  padding-top: 250px;
  color: #d5ece1;
  font-size: 20px; }

div.social > div.child2 {
  width: inherit;
  height: 55px;
  background-color: #105153;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 10px;
  justify-content: center; }

div.social > div.child2 > p:nth-of-type(1) {
  color: #009da2;
  font-size: 45px; }

div.social > div.child2 > p:nth-of-type(2) {
  color: #00d8df;
  padding-top: 18px;
  font-size: 22px;
  margin-left: 5px; }

div.social > div.child3 {
  height: 254px;
  background-color: #105153;
  display: flex;
  justify-content: center;
  position: relative; }

div.social > div.child3 > p {
  margin-top: 13px;
  color: #bcbec0;
  font-size: 17px; }

div.social > div.child3 > img {
  width: 395px;
  height: 344px;
  position: absolute;
  top: 45px; }

body div.respons {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column; }

div.respons > hr {
  margin-top: 25px; }

body div.respons > div.child {
  width: inherit;
  height: 267px;
  margin: 200px auto;
  padding: 0 30px; }

div.respons > div.child > h3 {
  color: #ff0000;
  font-family: yekan;
  font-size: 18px; }

body div.respons > div.child > p {
  width: inherit;
  margin-top: 15px;
  color: rgba(129, 133, 136, 0.9);
  font-family: yekan;
  font-size: 15px;
  line-height: 35px;
  text-align: justify; }

div.respons > div.child > div {
  width: 125px;
  height: 46px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  margin-top: 30px;
  text-align: center;
  line-height: 46px; }

body div.respons > div.child > div > a {
  text-decoration: none;
  color: rgba(129, 133, 136, 0.9);
  font-family: yekan;
  font-size: 14px; }

div.respons > div.child > div:hover {
  background-color: #ff0000; }

div.respons > div.child > div:hover > a {
  color: white; }

div.socialmedia {
  width: 100%;
  height: 125px;
  background-color: #ed1c24;
  margin-top: 50px; }

div.socialmedia > div.child {
  width: 100%;
  height: 100px;
  background-color: #eeefef;
  display: flex;
  justify-content: center; }

div.socialmedia > div.child > div.facebook,
div.linkedin,
div.instagram,
div.telegram,
div.aparat,
div.gl {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #79747480;
  margin-top: 25px;
  margin-left: 5px;
  text-align: center; }

div.socialmedia > div.child > div.facebook > a > i,
div.linkedin > a > i,
div.instagram > a > i,
div.telegram > a > i {
  line-height: 50px;
  color: whitesmoke;
  font-size: 30px; }

div.socialmedia > div.child > div.gl > a {
  text-decoration: none;
  line-height: 50px;
  color: whitesmoke;
  font-size: 30px; }

div.socialmedia > div.child > div.facebook:hover {
  background-color: rgba(91, 91, 236, 0.5); }

div.socialmedia > div.child > div.linkedin:hover {
  background-color: rgba(91, 209, 215, 0.9); }

div.socialmedia > div.child > div.instagram:hover {
  background-color: #aa4a4a; }

div.socialmedia > div.child > div.telegram:hover {
  background-color: rgba(91, 209, 215, 0.9); }

div.socialmedia > div.child > div.gl:hover {
  background-color: #69a039; }

div.parent {
  width: 100%;
  height: 500px;
  background-color: #282828; }

div.foodstuffs {
  width: 100%;
  height: 400px;
  background-color: #282828;
  display: flex;
  padding-right: 20px; }

body div.foodstuffs > div.first {
  width: 130px;
  height: 275px;
  margin-top: 47px;
  margin-left: 30px;
  text-align: center;
  display: flex;
  flex-direction: column; }

body div.foodstuffs >
div.second {
  width: 130px;
  height: 275px;
  margin-top: 47px;
  margin-left: 30px;
  text-align: center;
  display: flex;
  flex-direction: column; }

body div.foodstuffs >
div.third {
  width: 130px;
  height: 275px;
  margin-top: 47px;
  margin-left: 30px;
  text-align: center;
  display: flex;
  flex-direction: column; }

div.foodstuffs > div.fourth {
  display: none; }

div.foodstuffs > div.first > div,
div.second > div,
div.third > div,
div.fourth > div {
  width: inherit;
  height: 40px;
  text-align: center;
  color: whitesmoke;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 8px; }

div.foodstuffs > div.first > div > p,
div.second > div > p,
div.third > div > p,
div.fourth > div > p {
  font-family: yekan;
  font-size: 16px;
  line-height: 40px; }

div.foodstuffs > div.first > nav,
div.second > nav,
div.third > nav,
div.fourth > nav {
  width: inherit; }

div.foodstuffs > div.first > nav > ul,
div.second > nav > ul,
div.third > nav > ul,
div.fourth > nav > ul {
  width: inherit;
  margin-top: 25px; }

body div.foodstuffs > div.first > nav > ul > li {
  width: inherit;
  list-style: none;
  text-align: center; }

body div.foodstuffs >
div.second > nav > ul > li {
  width: inherit;
  list-style: none;
  text-align: center; }

body div.foodstuffs >
div.third > nav > ul > li {
  width: inherit;
  list-style: none;
  text-align: center; }

body div.foodstuffs > div.first > nav > ul > li > a {
  width: inherit;
  color: rgba(255, 255, 255, 0.5);
  font-family: yekan;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  transition: 300ms; }

body div.foodstuffs > div.second > nav > ul > li > a {
  width: inherit;
  color: rgba(255, 255, 255, 0.5);
  font-family: yekan;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  transition: 300ms; }

body div.foodstuffs >
div.third > nav > ul > li > a {
  width: inherit;
  color: rgba(255, 255, 255, 0.5);
  font-family: yekan;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  transition: 300ms; }

div.foodstuffs > div.first > nav > ul > li:hover > a {
  color: whitesmoke; }

div.foodstuffs > div.second > nav > ul > li:hover > a {
  color: whitesmoke; }

div.foodstuffs > div.third > nav > ul > li:hover > a {
  color: whitesmoke; }

div.foodstuffs > div.fourth > nav > ul > li:hover > a {
  color: whitesmoke; }

div.parent2 {
  width: 100%;
  height: 100px;
  background-color: #282828;
  text-align: center;
  margin-top: 70px; }

div.parent2 > p {
  color: #ccc3c380; }
